{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <title>FORM</title>
    {% endblock %}
</head>
<body>
    {% block content %} 
    <form method="POST" >
        {% csrf_token %}
        <label>product_name</label>
        <input type="text" name="product_name"  value="{{ product.product_name }}"><br>
        <label>product_price</label>
        <input type="number" name="product_price" min="1000"  value="{{ product.product_price }}"><br>
        <label>description</label>
        <input type="text" name="description"  value="{{ product.description }}"><br>
        <button type="submit" value="POST">SUBMIT</button>
    </form>
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}

    {% endblock %}
</body>
</html>